<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="ranking.css">
    <title>Ranking - Trinity Bullet</title>
</head>

<body>
    <!-- 
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>team</th>
                <th>difficulty</th>
                <th>score</th>
            </tr>
        </thead>
        <% @player.each do |player| %>
        <tbody>
            <tr>
                <td><%= player.name %></td>
                <td><%= player.team %></td>
                <td><%= player.difficulty %></td>
                <td><%= player.score %></td>
            </tr>
        </tbody>
        <% end %>
    </table> -->
    <table>
        <colgroup>
            <col span="1" class="name">
            <col span="1" class="difficulty">
            <col span="1" class="team">
            <col span="1" class="score">
        </colgroup>
        <!-- <thead>
            <tr>
                <th>name</th>
                <th>team</th>
                <th>difficulty</th>
                <th>score</th>
            </tr>
        </thead> -->
        <tbody>
            <tr>
                <td>Player Name</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td> Name</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>Player </td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>aaaaa</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>ああああああ</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>,</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>Player Name</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>Player Name</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>

            <tr>
                <td>Player Name</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>Player Name</td>
                <td>Lunatic</td>
                <td>Green</td>
                <td>100,000</td>
            </tr>

        </tbody>
    </table>
</body>